.image1{
padding-left: 4%;
max-width:100%;
height:auto;
}
.image2
{
padding-left:2.5%;
max-width:100%;
height:auto;
}
.image3
{
max-width:100%;
height:auto;
}
a:-webkit-any-link
{
  text-decoration: none;
}