body{

	font-family: dogicapixel;

}

@font-face {
  font-family: "DogicaPixel";
  src: url("dogicapixel.eot"); /* IE9 Compat Modes */
  src: url("dogicapixel.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("dogicapixel.otf") format("opentype"), /* Open Type Font */
    url("dogicapixel.svg") format("svg"), /* Legacy iOS */
    url("dogicapixel.ttf") format("truetype"), /* Safari, Android, iOS */
    url("dogicapixel.woff") format("woff"), /* Modern Browsers */
    url("dogicapixel.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}